{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style/baseII.css" />

</head>

<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a>
                <ul>
                    <li><a href="#">Career</a>
                        <ul>
                            <li><a href="#">v 1.0</a></li>
                            <li><a href="#">v 2.0</a></li>
                            <li><a href="#">v 3.0</a></li>
                            <li><a href="#">v 4.0</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Code</a>
                        <ul>
                            <li><a href="#">v 1.0</a></li>
                            <li><a href="#">v 2.0</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">FAQ</a></li>

        </ul>
    </nav>
</body>

</html>